<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="PTI_Integration_Console.Properties.Settings.devLogicConnectionString"
            connectionString="Data Source=PLM;Initial Catalog=devLogic;Persist Security Info=True;User ID=FPGwebservice;Password=kissmygrits"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>